/* Reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F5CF00;
    --seondary-color:  #8E4106;
    --speace-default: 70px;
}
header{
    
    height: 48px;
}
main{
   
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0px var(--speace-default);
}
.title{
    grid-column: 1/-1;
    place-self: center;
    position: relative;
}
.title__text{
    font-size: 20vw;
    color: white;
}
.title__transparent{
    font-size: 27vw;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff5;
    z-index: -1;
}
.description{
    grid-column: 1/7;
    place-self: center start;
    color: var(--seondary-color);
}
.description__title{
    font-size: 64px;
}
.description__text{
    font-size: 20px;
    width: 500px;
}
.action{
    grid-column: 7/-1;
    place-self: center end;
    height: 100px;
    width: 411px;
    background-color: var(--seondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #fff;
    text-decoration: none;

}
.picachu-imagem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

footer{
    text-align: center;
    color: black;

}
body{
    font-family: 'Right', cursive;
    padding-top: var(--space-defalt);
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-color)
    
}
.logo{
    margin-left: var(--speace-default);
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--seondary-color);
    font-size: 32px;
    font-family: 'Righteous', cursive;
}